@model PJ_.Net_Restaurant.Models.User

@{
    ViewBag.Title = "ForgotPass";
    Layout = "~/Views/Shared/Layout/_PublicLayout.cshtml";
}

<div id="wrapper" class="wrapper">
    @using (Html.BeginForm("ForgotPass", "Public", FormMethod.Post, new { @class = "form-login", @id = "form-login", onsubmit = "return validateEmail()" }))
    {
        @Html.AntiForgeryToken()

        <h1 class="form-heading">Forgot password</h1>

        <div class="form-group form-group-login">
            <i class="fa-regular fa-envelope"></i>
            @Html.TextBoxFor(model => model.email, new { @class = "form-input form-input-login", @id = "email", placeholder = "Enter email", @name = "email" })
        </div>

        <div class="errorMessage my-3" id="message">@ViewData["error"]</div>

        <button class="form-submit" type="submit" class="btn btn-default">
            Send email
        </button>
    }
</div>

