
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}


<section class="content">
    <img src="~/Uploads/images/admin-theme.jpg"  style="margin-top: 5%; margin-left: 14%; height: 500px;"/>
</section>

