@model IEnumerable<PJ_.Net_Restaurant.Models.FoodStyle>

@foreach (var i in Model)
{
    <li @if (@i.meta == ViewBag.meta) { <text> class="active" </text> }>
        <a href="/Food-Menu/@i.meta">@i.name</a>
    </li>
}
