<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
      - primary meta tags
    -->
    <title>@ViewBag.Title - Restaurant</title>
    <meta name="title" content="Grilli - Amazing & Delicious Food">
    <meta name="description" content="This is a Restaurant html template made by codewithsadee">

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--
      - preload images
    -->
    <link rel="preload" as="image" href="~/Uploads/images/slide/hero-slider-1.jpg">
    <link rel="preload" as="image" href="~/Uploads/images/slide/hero-slider-2.jpg">
    <link rel="preload" as="image" href="~/Uploads/images/slide/hero-slider-3.jpg">

    <link rel="shortcut icon" href="~/Uploads/images/favicon.svg" type="image/svg+xml">
    @*    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <link rel="icon" href="~/Uploads/images/icons/restaurant-icon.png" type="image/x-icon" />
</head>

<body id="top">

    <!--
      - #PRELOADER
    -->

    <div class="preload" data-preaload>
        <div class="circle"></div>
        <p class="text">Grilli</p>
    </div>





    <!--
      - #TOP BAR
    -->

    <div class="topbar semi-topbar">
        <div class="container">
            @{ Html.RenderAction("getHeader", "Partial");}

            <div class="separator"></div>

            @if (Session["name"] != null)
            {
                <a href="/User" class="topbar-item link">
                    <span class="span">@Session["name"]</span>
                </a>

                <div class="separator"></div>

                <a href="/logout" class="topbar-item link">
                    <span class="span">Logout</span>
                </a>
            }
            else
            {
                <a class="topbar-item link">
                    <span class="span">Guest</span>
                </a>

                <div class="separator"></div>

                <a href="/login" class="topbar-item link">
                    <span class="span">Login</span>
                </a>
            }

            <div class="separator"></div>

            <a href="/ShopCart" class="topbar-item link login-btn">
                <div class="icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </a>

        </div>
    </div>



    <!--
      - #HEADER
    -->

    <header class="header" data-header>
        <div class="container">

            @{ Html.RenderAction("getLogo", "Partial");}

            <nav class="navbar" data-navbar>

                <button class="close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>

                @{ Html.RenderAction("getLogo", "Partial");}

                <ul class="navbar-list">
                    @{ Html.RenderAction("getNavBar", "Partial");}
                </ul>

                <div class="text-center">
                    @{ Html.RenderAction("getVisitUs", "Partial");}
                </div>

            </nav>

            <a href="#" class="btn btn-secondary">
                <span class="text text-1">Find A Table</span>

                <span class="text text-2" aria-hidden="true">Find A Table</span>
            </a>

            <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </button>

            <div class="overlay" data-nav-toggler data-overlay></div>

        </div>
    </header>





    <main>
        @RenderBody();
    </main>





    <!--
      - #FOOTER
    -->

    <footer class="footer section has-bg-image text-center"
            style="background-image: url('~/Uploads/images/footer-bg.jpg')">
        <div class="container">

            <div class="footer-top grid-list">

                <div class="footer-brand has-before has-after">

                    @{ Html.RenderAction("getLogo", "Partial");}

                    @{ Html.RenderAction("getInfoRestaurant", "Partial");}

                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>

                    <p class="title-1">Get News & Offers</p>

                    @{ Html.RenderAction("getOffer", "Partial");}

                    <form action="" class="input-wrapper">
                        <div class="icon-wrapper">
                            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

                            <input type="email" name="email_address" placeholder="Your email" autocomplete="off" class="input-field">
                        </div>

                        <button type="submit" class="btn btn-secondary">
                            <span class="text text-1">Subscribe</span>

                            <span class="text text-2" aria-hidden="true">Subscribe</span>
                        </button>
                    </form>

                </div>

                <ul class="footer-list">

                    @{ Html.RenderAction("getFooterMenu", "Partial");}

                </ul>

                <ul class="footer-list">

                    @{ Html.RenderAction("getSocial", "Partial");}

                </ul>

            </div>

            <div class="footer-bottom">

                <p class="copyright">
                    &copy; 2022 Grilli. All Rights Reserved | Crafted by <a href="https://github.com/codewithsadee"
                                                                            target="_blank" class="link">codewithsadee</a>
                </p>

            </div>

        </div>
    </footer>





    <!--
      - #BACK TO TOP
    -->

    <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
        <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
    </a>





    <!--
      - custom js link
    -->
    <script src="~/Scripts/js/script.js"></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        let thisPage = 1
        let limit = 6
        let list = document.querySelectorAll('.grid-list li')

        function loadItem() {
            let beginGet = limit * (thisPage - 1)
            let endGet = limit * thisPage - 1
            list.forEach((item, key) => {
                if (key >= beginGet && key <= endGet) {
                    item.style.display = 'block'
                } else {
                    item.style.display = 'none'
                }
            })
            listPage()
        }
        loadItem()

        function listPage() {
            let count = Math.ceil((list.length / limit) - 1)
            document.querySelector('.list-page').innerHTML = ''
            if (thisPage != 1) {
                let prev = document.createElement('li')
                prev.innerText = 'Previous'
                prev.setAttribute('onClick', "changePage(" + (thisPage - 1) + ")")
                document.querySelector('.list-page').appendChild(prev)
            }

            for (i = 1; i <= count; i++) {
                let newPage = document.createElement('li')
                newPage.innerText = i;
                if (i == thisPage) {
                    newPage.classList.add('active')
                }
                newPage.setAttribute('onClick', "changePage(" + i + ")")
                document.querySelector('.list-page').appendChild(newPage)
            }
            if (thisPage != count) {
                let next = document.createElement('li')
                next.innerText = 'Next'
                next.setAttribute('onClick', "changePage(" + (thisPage + 1) + ")")
                document.querySelector('.list-page').appendChild(next)
            }
        }

        function changePage(i) {
            thisPage = i
            loadItem()
        }
    </script>
</body>

</html>