
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout/_PublicLayout.cshtml";
}

<div class="table-list list-bill" id="list-bill">
    <div class="container container-list my-3">
        <table class="table-list-tb listBill-tb">
            <tr class="table-list-tr listBill-tr">
                <th class="table-list-th listBill-th">Num</th>
                <th class="table-list-th listBill-th">Name</th>
                <th class="table-list-th listBill-th">Date</th>
                <th class="table-list-th listBill-th">Total</th>
                <th class="table-list-th listBill-th">Action</th>
            </tr>
            <tr class="table-list-tr listBill-tr">
                <td class="table-list-td listBill-td">1</td>
                <td class="table-list-td listBill-td">Nguyen Trung Hau</td>
                <td class="table-list-td listBill-td">17/3/2023</td>
                <td class="table-list-td listBill-td">$1500</td>
                <td class="table-list-td listBill-td">
                    <a href="/User/BillHistory/Bill">Detail</a>
                </td>
            </tr>
            <tr class="table-list-tr listBill-tr">
                <td class="table-list-td listBill-td">2</td>
                <td class="table-list-td listBill-td">Mai Văn Ngọc</td>
                <td class="table-list-td listBill-td">18/3/2023</td>
                <td class="table-list-td listBill-td">$2000</td>
                <td class="table-list-td listBill-td">
                    <a href="/User/BillHistory/Bill">Detail</a>
                </td>
            </tr>
            <tr class="table-list-tr listBill-tr">
                <td class="table-list-td listBill-td">3</td>
                <td class="table-list-td listBill-td">Phạm Hùng Nghĩa</td>
                <td class="table-list-td listBill-td">21/3/2023</td>
                <td class="table-list-td listBill-td">$1000</td>
                <td class="table-list-td listBill-td">
                    <a href="/User/BillHistory/Bill">Detail</a>
                </td>
            </tr>
            <tr class="table-list-tr listBill-tr">
                <td class="table-list-td listBill-td">4</td>
                <td class="table-list-td listBill-td">Nguyễn Trung Nhật</td>
                <td class="table-list-td listBill-td">25/3/2023</td>
                <td class="table-list-td listBill-td">$3000</td>
                <td class="table-list-td listBill-td">
                    <a href="/User/BillHistory/Bill">Detail</a>
                </td>
            </tr>

        </table>
    </div>
</div>

